<div class="container-fluid hero scroll_section">
    <div id="historia" class="row align-items-center py-4">
        <div class="margen col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="images/historia_1.jpg" alt="historia 1" class="img-fliud">
        </div>
        <div class="margen col-lg-2 col-md-3 d-none d-sm-block">
            <img src="images/historia_2.jpg" alt="historia 2" class="img-fliud">
        </div>
        <div class="margen col-12 d-sm-none">
            <img src="images/historia_3.jpg" alt="historia 3" class="img-fliud">
        </div>
        <div class="margen col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h2 style="margin-top:75px; text-align:center;">HISTORIA</h2>
            <p style="background-color: rgb(244, 174, 103); text-align:justify; border: 7px outset #be250e;">
                El ejemplo más significativo referido a creación de instrumentos musicales de cuerda para uso real, se tiene en el arpa sumeria de Ur, en la antigua Mesopotamia.

Hace 1200 años, el artesano que construía instrumentos musicales se le conocía como Hacedor de instrumentos, profesión que se consideraba unida a las de tañedor de instrumentos y maestro de danza.

En el siglo XVI en España, esa profesión no se considera oficial, se le conoce como violero y guitarrero, posteriormente como lutero por asociación al luth o laúd, que era el instrumento más popular.

A comienzos del siglo XVII, entre los años 1614 y 1620, el alemán Michael Praetorius (1571-1621), publica Syntagma Musicum, un tratado sobre música e instrumentos musicales en tres volúmenes, con excelentes referencias de la música en el período griego, además de ser una importante fuente de referencia sobre organología y fabricación de instrumentos Theatrum instrumentorum.</p>
        </div>
    </div>
</div>